Clarification of DID URL Path

From https://www.w3.org/TR/did-core/#path 

> A DID path is identical to a generic URI path and conforms to the path-abempty ABNF rule in RFC 3986, section 3.3. As with URIs, path semantics can be specified by DID Methods, which in turn might enable DID controllers to further specialize those semantics.

As far as I could tell, there are no DID methods that use these path semantics. Moreso, it is not clear from this description what these path semantics are envisioned to represent. A DID URL made by adding a query or fragment to a DID can be understood as acting on or referencing the metadata resolved from the DID. However, it is unclear if a URL made by appending a path to a DID has any particular relationship with the subject or the controller.

To put it a different way, I'm unclear what the resource is of a DID URL with a path - while a DID URL without a path is unambiguously referencing the subject as the resource.

If there are no semantics defined for it, why not leave path components reserved?

> To put it a different way, I'm unclear what the resource is of a DID URL with a path - while a DID URL without a path is unambiguously referencing the subject as the resource.

If a DID URL has a path, the root of the path is the resource represented by the DID. Depending on the DID method—and the resource identified by the DID—the path itself could represent any hierarchical tree of subresources. For example, if the DID subject was the home page of a website, then the path could be used to navigate the resources at the website just like the path on an HTTP URL. If the DID subject was a blog, the path could be used to navigate categories of posts on the blog. If the DID subject was a database, the path could be used to navigate within the database. And so on. 

So if I understand correctly, resolving a DID URL without a path represents a defined resource of the DID subject, with defined query parameter and fragment behavior, defined content, etc (similar to a .well-known URL in the HTTP-based specification space).

However, resolving a DID URL with a path no longer references the subject or has a well-defined relationship to the subject. Resolving such a pathed URL no longer returns a DID document but rather arbitrary content, query parameters and fragment identifiers may have behavior different from that defined for resolving DID documents with that method, and so on.

Any path behavior is outside this specification and is currently custom behavior defined by a DID method, possibly configured via a method outside this specification by the DID controller.

Are there any DID methods and resolvers which would allow testing this behavior?

> Any path behavior is outside this specification and is currently custom behavior defined by a DID method, possibly configured via a method outside this specification by the DID controller.

Yes.

> Are there any DID methods and resolvers which would allow testing this behavior?

That's a question best directed to @peacekeeper who runs the Universal Resolver project at the Decentralized Identity Foundation. I am aware of several DID methods that have plans to specify DID URL path functionality for certain types of resources, but I don't know the state of their implementations.

grossly outdated. Closing